@font-face {
  font-family: 'FengardoneueRegular';
  src: url('../fonts/Fengardoneue/fengardoneue_regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Fengardoneue/fengardoneue_regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Fengardoneue/fengardoneue_regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Fengardoneue/fengardoneue_regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Fengardoneue/fengardoneue_regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Fengardoneue/fengardoneue_regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'FengardoneueBlack';
  src: url('../fonts/Fengardoneue/fengardoneue_black.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Fengardoneue/fengardoneue_black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Fengardoneue/fengardoneue_black.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Fengardoneue/fengardoneue_black.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Fengardoneue/fengardoneue_black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Fengardoneue/fengardoneue_black.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
    font-family: 'PFHandbookProRegular';
    src: url('../fonts/handbook/PFHandbookPro-Regular.otf');
}

@font-face {
    font-family: 'PFHandbookProMedium';
    src: url('../fonts/handbook/PFHandbookPro-Medium.otf');
}

@font-face {
    font-family: 'PFHandbookProLight';
    src: url('../fonts/handbook/PFHandbookPro-Light.otf');
}

a {
 color:#0db4c7;
 text-decoration:none
}

$a:focus,
a:hover {
 color:#0ba9ba;
 text-decoration:underline
}

body {
	font-family: 'FengardoneueRegular';
	font-size: 15px;
}

.alert {
	border-radius: 3px;
}

.login-pf {
	background: url("../img/loginBG.png"), url("../img/bg-texture-liiibre.png"), #fdfadb;
	background-position: center center, left top;
	background-size: 85%, 80%;
	background-repeat: no-repeat, repeat;
}

.login-pf body {
	background: none;
} 

.card-pf {
	border-radius: 1rem;
	box-shadow: 0px 0px 0px 5px #fdfadb;
}

#kc-header-wrapper {
	color: #0db4c7;
	font-family: 'FengardoneueBlack';
}

#kc-header-wrapper a:hover {
	text-decoration: none;
	color: #0ba9ba;	
}

#kc-info-wrapper {
	font-size: 14px;
}


h1 {
	font-family: 'FengardoneueBlack';
	color: rgba(0, 0, 0, 0.8);
}

.form-control {
	border: 2px solid #bbb;
	border-top:none;
	border-left: none;
	border-right: none;
	border-radius: 3px;
	font-size: 14px;
}

.form-control:focus {
	border-color:#0db4c7;
	outline:0;
	box-shadow:inset 0px 0px 2px 0px #0db4c7
}

#kc-form-options .checkbox {
    margin-top: 0;
    color: #72767b;
}

.btn {
	font-size: 15px;
}

.btn-primary {
	background-color:#0db4c7;
	border-color:#0db4c7;
	color:#fff;
	border-radius: 2px;
	background-image: none;
}

.btn-primary.active,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open .dropdown-toggle.btn-primary {
	background-color:#0ba9ba;
	background-image:none;
	border-color:#0995a5;
	color:#fff
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open .dropdown-toggle.btn-primary.focus,
.open .dropdown-toggle.btn-primary:focus,
.open .dropdown-toggle.btn-primary:hover {
	background-color:#0995a5;
	border-color:#0995a5;
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
 background-color:#0ed7ee;
 border-color:#0ed7ee
}

#kc-locale ul {
	border:none;
}

#kc-locale ul li a {
	border-bottom: solid 1px #bbb;
	border-radius: 3px;
}

#kc-locale ul li a:hover {
	color: #fff !important;
    background-color: #0db4c7;
}

body {
	font-family: 'Montserrat', sans-serif;
	color: #343a40;
}

.login-pf-page .login-pf-header h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
}

.login-pf body {
    background: linear-gradient(rgba(255,255,255,.4),rgba(255,255,255,.4)),url(../img/loginBG.png);
}

#kc-header-wrapper .title_html {
	display: none;
}

.login-pf-page .card-pf {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 450px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
	border-radius: 0;
    box-shadow: none;
    margin: 20px auto;
}

.form-control {
    border-radius: 0;
    border: 1px solid #ced4da;
}

.form-control:hover {
    border-color: #D5045C;
}

.form-control:focus {
    border-color: #D5045C;
    outline: 0;
    box-shadow: inset 0px 0px 2px 0px #D5045C;
}

.btn-primary {
    background-color: #D5045C;
    border-color: #D5045C;
    color: #fff;
    border-radius: 2px;
    background-image: none;
}

.btn-primary.active, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open .dropdown-toggle.btn-primary {
    background-color: #a70b4c;
    background-image: none;
    border-color: #a70b4c;
    color: #fff;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open .dropdown-toggle.btn-primary.focus, .open .dropdown-toggle.btn-primary:focus, .open .dropdown-toggle.btn-primary:hover {
    background-color: #a70b4c;
    border-color: #a70b4c;
}

.login-pf-page {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

#kc-header {
    color: #343a40;
    margin: 0;
    background-color: white;
    position: relative;
    top: 0;
    height: 74px;
    max-height: 74px;
    border-bottom: 1px solid #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}

#kc-header-wrapper {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}


#kc-header-wrapper img {
    height: 60px;
    width: inherit !important;
}

footer#page-footer {
    background-color: white!important;
    padding: 50px;
    border-top: 1px solid #262626;
    display: flex;
    align-items: center;
    font-family: 'PFHandbookProRegular';
    justify-content: center;
}

footer#page-footer .container2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  #343a40;
    max-width: 1280px;
}

footer#page-footer .container2 a {
    color:  #343a40;
}

footer#page-footer img.footer-desc-logo-img {
    height: 120px;
}

footer#page-footer img.footer-desc-img {
    height: 53px;
}

footer#page-footer .footer-desc-text {
    margin-left: 14px;
}

footer#page-footer p.footer-desc-par {
    font-size: 16px;
    line-height: 15px;
    margin-top: 10px;
    color: #707070;
}

footer#page-footer .footer-desc {
    display: flex;
    flex-direction: row;
}

footer#page-footer .footer-desc-comma {
    display: flex;
    justify-content: unset;
    align-items: flex-end;
}

footer#page-footer img.footer-desc-logo-comma {
    position: relative;
    height: 35px;
    width: 35px;
    
}

footer#page-footer .footer-links {
    font-family: 'PFHandbookProMedium';
    font-size: 20px;
    margin-left: 30px;
    min-width: 450px;
}

footer#page-footer img.footer-desc-logo-comma-bullet {
    margin-right: 10px;
    position: relative;
    top: -1px;
}

footer#page-footer .footer-links-policies {
    font-family: 'PFHandbookProLight';
    padding-left: 23px;
    padding-top: 14px;
    color: #AEAEAE !important;
}

footer#page-footer .footer-links-policies a {
    color: #AEAEAE !important;
    font-size: 18px;
}

@media (max-width: 1280px) {
    footer#page-footer .container2 {
        flex-direction: column;
        max-width: inherit;
    }
    footer#page-footer .footer-links {
        margin-top: 30px;
    }
}

@media (max-width: 600px) {
    .login-pf-page .card-pf {
        margin: 0;
        min-width: inherit;
    }
    .footer-links-item {
        margin: 0 55px;
    }
    footer#page-footer img.footer-desc-logo-img {
        height: 80px;
    }
    footer#page-footer .footer-links-policies {
        text-align: center;
        padding: 0;
        margin-top: 20px;
        padding-right: 20px;
    }
}
